<div class="Edit">
    <div class="Titulo">
        <div class="text">
            <h2>Veterinário</h2>
            <p><b>Edite o formulário</b>&nbsp;para atualizar a tabela de veterinários</p>
        </div>
        <button _ngcontent-ng-c3955682678="" type="button" aria-label="Close" class="btn-close" (click)="sair($event)"></button>
    </div>
    <div class="input-user-data">
        <div class="input-user">
            <p>Nome completo</p>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Digite seu nome completo" [(ngModel)]="veterinario.nome">
            </mat-form-field>
        </div>
        <div class="input-user">
            <p>CRMV</p>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Digite seu CRMV" [(ngModel)]="veterinario.crmv">
            </mat-form-field>
        </div>
    </div>
    <div class="input-endereco">
        <h4 class="sub-title">Endereço:</h4>
        <div class="input-holder">
            <div class="cep-logradouro">
                <div id="CEP">
                    <label for="">CEP</label>
                    <mat-form-field class="example-full-width">
                        <input matInput #buscaCEP name="cep" id="cep" (blur)="blur($event)" [(ngModel)]="veterinario.endereco.cep" required>
                    </mat-form-field>
                </div>
                <div id="Rua">
                    <label for="">Logradouro</label>
                    <mat-form-field class="example-full-width">
                        <input matInput name="logradouro" id="logradouro" [(ngModel)]="veterinario.endereco.logradouro" required readonly>
                    </mat-form-field>
                </div>
                <div id="Numero">
                    <label for="">Número</label>
                    <mat-form-field class="example-full-width">
                        <input matInput id="numero" [(ngModel)]="veterinario.endereco.numero" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="Cidade-input">
                <div id="Bairro">
                    <label for="">Bairro</label>
                    <mat-form-field class="example-full-width">
                        <input matInput name="bairro" id="bairro" [(ngModel)]="veterinario.endereco.bairro" required readonly>
                    </mat-form-field>
                </div>
                <div id="Cidade">
                    <label for="">Cidade</label>
                    <mat-form-field class="example-full-width">
                        <input matInput name="localidade" id="localidade" [(ngModel)]="veterinario.endereco.cidade" required readonly>
                    </mat-form-field>
                </div>
                <div id="Estado">
                    <label for="">Estado</label>
                    <mat-form-field class="example-full-width">
                        <input matInput name="uf" id="uf" [(ngModel)]="veterinario.endereco.estado" required readonly>
                    </mat-form-field>
                </div>
            </div>
            
            <div id="Complemento">
                <label for="">Complemento</label>
                <mat-form-field class="example-full-width">
                    <input matInput name="complemento" id="complemento" [(ngModel)]="veterinario.endereco.complemento">
                </mat-form-field>
            </div>
        </div>
    </div>
    
    <div class="btn-holder">
        <div class="btns">
            <button style="background-color: #87B6A7; color: aliceblue;" type="button"
                class="btn btn-rounded centralizarBotao" (keyup.enter)="save()" data-mdb-ripple-init (click)="save()">
                Adicionar
            </button>
        </div>
    </div>
</div>