<div>

    <div class="card">
        <div class="card-body">
            <div class="alinhamentoListagem">
                <div>
                    <h3 class="head title">Listagem de procedimentos</h3>
                </div>
                <div class="alinharDireita">
                    <div class="alinharDireita">
                        <button (click)="new()" type="button" class="btn btn-info btn-rounded title newbtn"
                            data-mdb-ripple-init>
                            <p>Novo</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="centralizar" scope="col">ID</th>
                    <th class="centralizar" scope="col">Procedimento</th>
                    <th class="centralizar" scope="col">Data</th>
                    <th class="centralizar" scope="col">Resultado</th>
                    <th class="centralizar" scope="col">Diagnostico</th>
                    <th class="centralizar" scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                @for (procedimento of lista; track $index) {
                <tr>
                    <th class="centralizar" scope="row">{{procedimento.id}}</th>
                    <td class="centralizar">{{procedimento.nomeProcedimento}}</td>
                    <td class="centralizar">{{procedimento.data}}</td>
                    <td class="centralizar">{{procedimento.resultado}}</td>
                    <td class="centralizar">{{procedimento.diagnostico}}</td>
                    <td>
                        @if(esconderBotoes){
                        <button type="button" class="btn btn-primary btn-rounded" mdbRipple
                            (click)="select(procedimento)">
                            Selecionar
                        </button>
                        }@else{
                        <div class="centralizar actionbtn">
                            <button (click)="edit(procedimento)" type="button" type="button" class="actionbtns info"
                                data-mdb-ripple-init data-mdb-ripple-color="dark">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>

                            <button (click)="delete(procedimento)" type="button" class="actionbtns danger"
                                data-mdb-ripple-init data-mdb-ripple-color="dark">
                                <span class="material-symbols-outlined">
                                    delete
                                </span></button>
                        </div>

                        }
                        <div class="centralizar">
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<ng-template #modalProcedimentoDetalhe>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">
        <app-procedimentosdetails [procedimento]="procedimentoEdit"
            (retorno)="retornoDetalhe($event)"></app-procedimentosdetails>
    </div>
</ng-template>