<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="alinhamentoListagem">
                <div>
                    <h3 class="head title">Listagem de tutores</h3>
                </div>
                <div class="alinharDireita">
                    
                    <button (click)="new()" type="button" class="btn btn-info btn-rounded title newbtn"
                            data-mdb-ripple-init>
                            <p>Novo</p>
                    </button>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="centralizar" scope="col">ID</th>
                    <th class="centralizar" scope="col">Nome</th>
                    <th class="centralizar" scope="col">CPF</th>
                    <th class="centralizar" scope="col">Idade</th>
                    <th class="centralizar" scope="col">Cidade</th>
                    <th class="centralizar" scope="col">Estado</th>
                    <th class="centralizar" scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                @for (tutor of lista; track $index) {
                <tr>
                    <th class="centralizar" scope="row">{{tutor.id}}</th>
                    <td class="centralizar">{{tutor.nome}}</td>
                    <td class="centralizar">{{tutor.cpf}}</td>
                    <td class="centralizar">{{tutor.idade}}</td>
                    <td class="centralizar">{{tutor.endereco.cidade}}</td>
                    <td class="centralizar">{{tutor.endereco.estado}}</td>
                    <td>
                        @if(esconderBotoes){
                        <button type="button" class="btn btn-primary btn-rounded" mdbRipple
                            (click)="select(tutor)">
                            Selecionar
                        </button>
                        }@else{
                        <div class="centralizar actionbtn">
                            <button (click)="edit(tutor)" type="button" type="button" class="actionbtns info"
                                data-mdb-ripple-init data-mdb-ripple-color="dark">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>
                            <button (click)="delete(tutor)" type="button" class="actionbtns danger"
                                data-mdb-ripple-init data-mdb-ripple-color="dark">
                                <span class="material-symbols-outlined">
                                    delete
                                </span></button>
                        </div>
                        }
                        <div class="centralizar">
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<ng-template #modalTutorDetalhe>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">
        <app-tutoresdetails [tutor]="tutorEdit" (retorno)="retornoDetalhe($event)"></app-tutoresdetails>
    </div>
</ng-template>