<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<div class="sidebar">
  <img src="assets/logo.svg" alt="Logo" class="top-image">
  <a href="admin/dashboard" class="sidebar-button">
    <span class="material-symbols-outlined icon">space_dashboard</span>
    Dashboard
  </a>
  <a href="admin/veterinarios" class="sidebar-button">
    <span class="material-symbols-outlined icon">stethoscope</span>
    Veterinários
  </a>
  <a href="admin/pacientes" class="sidebar-button">
    <span class="material-symbols-outlined icon">pets</span>
    Pacientes
  </a>
  <a href="admin/tutores" class="sidebar-button">
    <span class="material-symbols-outlined icon">person</span>
    Tutores
  </a>
  <a href="admin/procedimentos" class="sidebar-button">
    <span class="material-symbols-outlined icon">medication</span>
    Procedimentos
  </a>
  <a href="#" class="sidebar-button">
    <span class="material-symbols-outlined icon">settings</span>
    Configurações
  </a>
  <a href="#" class="sidebar-button">
    <span class="material-symbols-outlined icon">schedule</span>
    Logs
  </a>
  <a href="login" class="logout-button">Sair</a>
</div>
