<div>
    <div class="card">
        <div class="card-body">
            <div class="alinhamentoListagem">
                <div>
                    <h3 class="head title">Listagem de pacientes</h3>
                </div>
                <div class="alinharDireita">
                    <button (click)="new()" type="button" class="btn btn-info btn-rounded title newbtn"
                        data-mdb-ripple-init>
                        <p>Novo</p>
                    </button>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th class="centralizar" scope="col">ID</th>
                    <th class="centralizar" scope="col">Nome</th>
                    <th class="centralizar" scope="col">Espécie</th>
                    <th class="centralizar" scope="col">Nascimento</th>
                    <th class="centralizar" scope="col">Raça</th>
                    <th class="centralizar" scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                @for (paciente of lista; track $index) {
                <tr>
                    <th class="centralizar" scope="row">{{paciente.id}}</th>
                    <td class="centralizar">{{paciente.nome}}</td>
                    <td class="centralizar">{{paciente.especie}}</td>
                    <td class="centralizar">{{paciente.dataNascimento}}</td>
                    <td class="centralizar">{{paciente.raca}}</td>
                    <td>
                        <div class="centralizar actionbtn">

                            <button (click)="edit(paciente)" type="button" type="button" class="actionbtns info"
                                data-mdb-ripple-init data-mdb-ripple-color="dark">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>

                            <button (click)="delete(paciente)" type="button" class="actionbtns danger"
                                data-mdb-ripple-init data-mdb-ripple-color="dark">
                                <span class="material-symbols-outlined">
                                    delete
                                </span></button>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<ng-template #modalPacienteDetalhe>
    <div class="modal-header">
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">
        <app-pacientesdetails [paciente]="pacienteEdit" (retorno)="retornoDetalhe($event)"></app-pacientesdetails>
    </div>
</ng-template>